<p id="notice"><%= notice %></p>
<div class="background"></div>
<h1>Mountains</h1>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Top 10</th>
    </tr>
  </thead>

  <tbody>
    <% @mountain_models.each do |mountain_model| %>
      <tr>
        <td><%= mountain_model.id %></td>
        <td><b><button type="button" class="btn btn-link"><%= link_to mountain_model.name, mountain_model , style: "color:black"%></button></b></td>
        <td><%= link_to 'Info', {:remote =>true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class:'btn btn-info btn-lg' } %></td>
        <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </div>
        <td><%= link_to 'Edit', edit_mountain_model_path(mountain_model) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Mountain Model', new_mountain_model_path %>
