<p id="notice"><%= notice %></p>

<h1><%= @mountain_model.name %></h1>
<div>Height: <%= number_with_delimiter(@mountain_model.height, :delimiter => ',') %></div>
<div>Location: <%= @mountain_model.location %></div>
<div>Address: <%= @mountain_model.address %></div>
<div><%= @mountain_model.longitude %>, <%= @mountain_model.latitude %></div>
<div><%= @mountain_model.description %></div>
<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{@mountain_model.latitude},#{@mountain_model.longitude}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
</p>

<% if @mountain_model.photo.present? %>
	<p><%= image_tag @post.photo.url(:medium) %></p>
<% end %>

<%= link_to 'Edit', edit_mountain_model_path(@mountain_model) %> |
<%= link_to 'Back', mountain_models_path %>
