<p id="notice"><%= notice %></p>

<h1 class="coloring"><%= @mountain_model.name %></h1>
<div class="table-responsive">
 <table class="table">
 	<thead>
 		<tr>
 			<th>Height</th>
 			<th>Location</th>
 			<th>Address</th>
 			<th>Coordinates</th>
 			<th>Description</th>
 		</tr>
 	</thead>
 	<tbody>
 		<tr>
 			<td><%= number_with_delimiter(@mountain_model.height, :delimiter => ',') %></td>
 			<td><%= @mountain_model.location %></td>
 			<td><%= @mountain_model.address %></td>
 			<td><%= @mountain_model.longitude %>, <%= @mountain_model.latitude %></td>
 			<td><%= @mountain_model.description %></td>
 		</tr>
 	</tbody>
 </table>
 </div>
<p>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{@mountain_model.latitude},#{@mountain_model.longitude}&key=#{Rails.application.credentials.google_maps_api_key}", alt: "Map" %>
</p>

<% if @mountain_model.photo.present? %>
	<p><%= image_tag @post.photo.url(:medium) %></p>
<% end %>

<h3>Comments</h3>
<% @comments.each do |comment| %>
	<div>
		<%= comment.user_name %>
		<br>
		<p><%= comment.body %></p>
		<p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?'} %></p>
	</div>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
<%= link_to 'Edit', edit_mountain_model_path(@mountain_model) %> |
<%= link_to 'Back', mountain_models_path %>
